.PlayerCard {
  height: 250px;
  width: 200px;

  background-color: transparent;

  border: 1px solid grey;
  border-radius: 5%;

  margin: 1em;
  flex-grow: 3;
}

.winner {
  border: 2px solid red;
}

.PlayerCard-pic {
  height: 100px;
  width: 100px;

  margin-top: 1em;
  margin-right: 1em;
  position: relative;

  border-radius: 50%;

  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
